doctype html
html(lang="en")
  head
    title= index.title
    link(href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css")
    link(href="styles/main.min.css" rel="stylesheet" type="text/css")
  body
    h1= index.title
    #mynetwork
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js")
    script(async src="js/main.js")
