doctype html
html(lang="en")
  head
    title= index.title
    link(href="styles/main.min.css" rel="stylesheet" type="text/css")
  body
    h1= index.title
    #techmap
    script(type="text/javascript" src="https://d3js.org/d3.v3.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
    script(async src="js/main.js")
